<ion-modal-view >
    <ion-header-bar class="bar-positive">
        <h1 class="title">ion-modal-view</h1>
        <a class="button" ng-click="closeModal();">关闭</a>

        <a class="button" ng-click="removeModal();">remove</a>
    </ion-header-bar>
    <ion-content>

        <div class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">用户名</span>
                    <input ng-model="username" type="text">
                </label>

                <button class="button button-full button-positive" ng-click="create()">Create</button>
            </div>
        </div>

    </ion-content>
</ion-modal-view>