<ion-view>
  <ion-content>

     <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="false">
      <ion-slide>

                  <h1>在线考试系统</h1>

          </ion-slide>
          <ion-slide>
              <div class="box energized-bg">second</div>
          </ion-slide>
          <ion-slide>
              <div class="box balanced-bg">
                  <a href="/#/login"><img src="/img/xtgj.jpg"></a>
              </div>

          </ion-slide>
      </ion-slide-box>
  </ion-content>
</ion-view>
